<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IThreadService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ThreadService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IThreadService" contract="ThreadService.IThreadService"
                name="NetTcpBinding_IThreadService">
                <identity>
                    <userPrincipalName value="LAPTOP-P286EDHB\joaki" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>